<div id="datos_usuario" *ngIf="user && user.name">
  <div class="circulo-imagen" *ngIf="!user && !user.image"></div>
  <div class="circulo-imagen" *ngIf="user && user.image"><img src="{{url+ 'user/avatar/'+identity.image}}" class="imgan-perfil"></div>
  <p id="nombre-usuario">{{user.name+' '+user.surname}}</p>
  <p id="usuario-usuario">{{'@'+user.nick}}</p>
  <table>

    <th class="title-publicaciones">Publicación</th>
    <th class="title-siguiendo">Siguiendo</th>
    <th class="title-seguidores">Seguidos</th>
    <tr>
      <td class="number-publicaciones">{{nPublications}}</td>
      <td class="number-siguiendo">{{nFollowing}}</td>
      <td class="number-seguidores">{{nFollowers}}</td>
    </tr>
  </table>
</div>

<div id="muro" *ngIf="user && user.name">
  <form #publicationForm="ngForm" (ngSubmit)="submitPublication(publicationForm)">
    <textarea class="form-control" id="publicar" placeholder="¿Qué está pasando?" rows="3" name="text" #text="ngModel" [(ngModel)]="publication.text" required></textarea>
    <input type="submit" class="btn btn-info" id="bnt-publicar" value="Publicar" [disabled]="publicationForm.invalid">
  </form>
  <p class="horizontal-publicacion"></p>
  <div *ngFor="let publicacion of publications">
    <div id="publicacion">
    <div class="circulo-imagenPublicacion"></div>
    <p id="datos-publicacion">{{infoUsers.name+' '+infoUsers.surname+' -  @'+infoUsers.nick}} - Hace 10 días</p>
    <p id="publicacion-publicacion">
      {{publicacion.text}}
    </p>
        <div id="bnt-admin">
      <button type="button" class="btn btn-default btn-sm btn-like">
        <span class="glyphicon glyphicon-heart" title="Me gusta"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm btn-response">
        <span class="glyphicon glyphicon-share-alt" title="Responder"></span>
      </button>
      <button *ngIf="publicacion.id_user == identity.sub" type="button" class="btn btn-default btn-sm btn-remove">
        <span class="glyphicon glyphicon-trash" title="Eliminar"></span>
      </button>
    </div>
  </div>
  <hr>
  </div>

  

</div>
