<div class="container">
	<div id="profile-user">
		<br>
		<div *ngIf="identity && identity.image" class="picture-profile">
            <img src="{{url+ 'user/avatar/'+identity.image}}" class="avatar_nav">
          </div>
		<div class="btn-profile">
			<a class="btn btn-success btn-editar" [routerLink]="['/ajustes']">Editar</a>
			<a class="btn btn-success btn-cerrar" [routerLink]="['/logout/1']">Cerrar Sesión</a>
		</div>

		<div class="datos-user">
			<h1>{{user.name+' '+user.surname}}</h1>
			<p>{{'@'+user.nick}}</p>
			<article>
				<strong>{{user.description}}</strong>
			</article>
		</div>

		<div class="informacion-user">
			<table class="table text-center">
				<thead>
	        		<tr>                    
	        			<th class="text-center">Siguiendo</th>
	        			<th class="text-center">Seguidores</th>
	        			<th class="text-center">Publicaciones</th>
	        			<th class="text-center">Me gusta</th>
	    			</tr>
				</thead>
				<tbody>
    				<tr>
        				<td>{{nFollowing}}</td>
        				<td>{{nFollowers}}</td>
        				<td>{{nPublications}}</td>
        				<td>{{nLikes}}</td>
    				</tr>
				</tbody>
			</table>
		</div>
		<h2>Publicaciones</h2>
		<div class="publicaciones" *ngFor="let publication of publications">
			

			<div id="publicacion">
			    <div class="circulo-imagenPublicacion"><img src="{{url+ 'user/avatar/'+identity.image}}" class="avatar_nav"></div>
			    <p id="datos-publicacion">{{user.name+' '+user.surname+'- @'+user.nick}} - Hace 10 días</p>
			    <p id="publicacion-publicacion">
			      {{publication.text}}
			    </p>
			        <div id="bnt-admin">
			      <button type="button" class="btn btn-default btn-sm btn-like">
			        <span class="glyphicon glyphicon-heart" title="Me gusta"></span>
			      </button>
			      <button type="button" class="btn btn-default btn-sm btn-response">
			        <span class="glyphicon glyphicon-share-alt" title="Responder"></span>
			      </button>
			      <button type="button" class="btn btn-default btn-sm btn-remove" (click)="deletePublication(publication.id, token)">
			        <span class="glyphicon glyphicon-trash" title="Eliminar"></span>
			      </button>
			    </div>
			</div>
			<hr>
		</div>
	</div>
</div>