<h1 class="titular-web">Bienvenido a AllConnected tu red social de confianza</h1>
<h2 class="titular-noticias">Noticias de última hora</h2>
<div id="contain-inicio">
	<article id="noticia">
		<h3 class="titular-noticia">Titular</h3>
		<p class="categoria-noticia">Categoría</p>
		<p class="noticia-noticia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in sapien nec sem varius vulputate ut at velit. Nam libero sapien, lacinia nec orci quis, ultrices consectetur purus. Sed in mi nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tortor felis, finibus non risus id, luctus tempus elit. Phasellus ullamcorper eros ut dui consectetur, et euismod nulla elementum. Cras et quam orci. Aliquam sed lacus bibendum, rutrum felis eget, consequat leo. Curabitur auctor ligula non ullamcorper elementum.</p>
	</article>

	<img class="imagen-noticia" src="../../assets/img/noticia.jpg">

	<hr>

	<article id="noticia">
		<h3 class="titular-noticia">Titular</h3>
		<p class="categoria-noticia">Categoría</p>
		<p class="noticia-noticia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in sapien nec sem varius vulputate ut at velit. Nam libero sapien, lacinia nec orci quis, ultrices consectetur purus. Sed in mi nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tortor felis, finibus non risus id, luctus tempus elit. Phasellus ullamcorper eros ut dui consectetur, et euismod nulla elementum. Cras et quam orci. Aliquam sed lacus bibendum, rutrum felis eget, consequat leo. Curabitur auctor ligula non ullamcorper elementum.</p>
	</article>

	<img class="imagen-noticia" src="../../assets/img/noticia.jpg">

	<hr>

	<article id="noticia">
		<h3 class="titular-noticia">Titular</h3>
		<p class="categoria-noticia">Categoría</p>
		<p class="noticia-noticia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in sapien nec sem varius vulputate ut at velit. Nam libero sapien, lacinia nec orci quis, ultrices consectetur purus. Sed in mi nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tortor felis, finibus non risus id, luctus tempus elit. Phasellus ullamcorper eros ut dui consectetur, et euismod nulla elementum. Cras et quam orci. Aliquam sed lacus bibendum, rutrum felis eget, consequat leo. Curabitur auctor ligula non ullamcorper elementum.</p>
	</article>

	<img class="imagen-noticia" src="../../assets/img/noticia.jpg">

	<hr>
</div>
