<div id="contain-mensajes">
	<h1 class="title-notificaciones">Notificaciones</h1>

	<div id="alerta-notificacion">
		<span id="icon-info" class="glyphicon glyphicon-info-sign"></span>
		<a href="">Carlos Sanchez</a> le ha dado me gusta a una publicación
	</div>
	<div id="alerta-notificacion">
		<span id="icon-info" class="glyphicon glyphicon-info-sign"></span>
		<a href="">Carlos Sanchez</a> te está siguiendo
	</div>

	<div id="alerta-notificacion">
		<span id="icon-info" class="glyphicon glyphicon-info-sign"></span>
		<a href="">Carlos Sanchez</a> le ha dado me gusta a una publicación
	</div>

</div>
